.layoutWrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout_content {
    padding: 30px 10px;
    margin: auto;
    width: calc(100% - 20px);
    background-color: #fff;
}
