.layout_content {
    padding: 30px 20px;
}

.layoutWrapper {
    max-width: 400px;
    min-width: 300px;
    min-height: 550px;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
