.header {
    display: flex;
    padding: 20px 20px 0;
    justify-content: space-between;
}

.text {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
}

.rightBlock {
    display: flex;
    margin-top: -3px;
}

.filter {
    color: #c4c4c4;
    font-size: 52px;
}

.profile {
    color: #c4c4c4;
    font-size: 52px;
    margin-left: 15px;
}


.profileIcon,
.filterIcon {
    vertical-align: middle;
    color: #6c7eea;
}

