.theme {
    font-size: 40px;
    height: 100px;
    padding: 0 20px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
}

.icon {
    margin-right: 20px;
    height: 42px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
}
