.theme {
    padding: 26px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.icon {
    width: 52px;
    height: 52px;
}

.title {
    min-width: 84px;
    margin-left: 17px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
}
