button.action-button
{
    border-radius: 40px;
    padding: 12px 34px;

    font-size: 18px;
    line-height: 21px;

    background-image: linear-gradient(164.09deg, #00A1B5 14.94%, #1B16EA 82.49%);
    color: #fff;
}
