.search {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 100px;
    width: calc(100% - 20px);
    max-width: 400px;
    margin: auto auto 20px;
}

.search__iconButton {
    margin: 0 7px 0 16px;
    color: #c4c4c4;
}

.search__input {
    flex: 1;
    margin-right: 20px;
}
